@media screen and (max-width: 400px) {
  .pmanejar {
    font-size: 1em;
    line-height: 1em;
    display: block; }

  .fila-texto-manejar {
    padding-top: 2.3rem; }

  .carousel-caption h1 {
    font-size: 1.7em !important;
    /* font-weight: bold !important; */ }

  .carousel-caption h4 {
    color: black;
    font-size: 1.2em;
    font-weight: bold; } }
@media screen and (min-width: 401px) and (max-width: 767px) {
  .pmanejar {
    font-size: 1.4em;
    line-height: 1.4em;
    display: block; }

  .fila-texto-manejar {
    padding-top: 2.3rem; }

  .carousel-caption h1 {
    font-size: 2.0em !important;
    /* font-weight: bold !important; */ }

  .carousel-caption h4 {
    color: black;
    font-size: 1.5em;
    font-weight: bold; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  .pmanejar {
    font-size: 1.8em;
    line-height: 1.1em;
    display: block; }

  .fila-texto-manejar {
    padding-top: 1.7rem; }

  .carousel-caption h4 {
    color: black;
    font-size: 1.7em;
    font-weight: bold; } }
@media screen and (min-width: 992px) {
  .pmanejar {
    font-size: 2.5em;
    line-height: 1.1em;
    display: block; }

  .fila-texto-manejar {
    padding-top: 1.3rem; } }
html, body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  /* color: $gris; */
  background-color: #f8f8f8; }

.grisoscuro {
  color: #383838; }

.marron {
  color: #be7f11; }

#contacto-inicial > i {
  color: #be7f11;
  vertical-align: middle !important; }

#contacto-inicial > i, p {
  display: inline; }

#contacto-inicial > p {
  color: #716e6e; }

.btn-primary {
  background-color: #be7f11;
  border: 1px solid #be7f11; }

.btn-primary:hover {
  background-color: #a96e08;
  border: 3px solid #be7f11; }

nav ul li a:hover {
  font-style: italic !important; }

.btn-outline-success {
  border: 1px solid #be7f11;
  color: #ffffff; }

.btn-outline-success:hover {
  border: 1px solid #be7f11;
  background-color: #be7f11;
  border: 1px solid #be7f11; }

#menu-principal {
  background-color: #716e6e; }

.logo {
  top: 4px;
  left: 45px;
  position: absolute; }

.uno {
  background-color: cyan;
  border: 1px solid cyan;
  width: 10px;
  height: 150px; }

.carousel img {
  width: 100%;
  height: 100%; }

.card {
  margin-top: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); }

.card:hover {
  /* transform: translate(0,-3px);*/
  box-shadow: 4px 4px  10px gray;
  transition: 0.1s; }

.carousel-inner .carousel-item .carousel-caption h1 {
  color: black;
  font-size: 3.4em;
  font-weight: bold; }

.carousel-caption h4 {
  color: black;
  font-size: 2.2em;
  font-weight: bold; }

.carousel-inner .carousel-item .carousel-caption p {
  color: black;
  font-size: 2em;
  font-weight: bold; }

.breveresenia {
  color: #636161; }

.scaleX {
  transform: scaleX(-1); }

.comillas {
  color: #be7f11;
  /* @media screen and (max-width:768px){
    font-size: 1em;
  }
  @media screen and (min-width: 769px) and (max-width:991px){
    font-size: 1.2em;
  }
  @media screen and (min-width: 992px) and (max-width:1199px){
    font-size: 1.4em;
  }
  @media screen and (min-width: 1200px){
    font-size: 1.4em;
  } */ }

hr {
  border: none;
  height: 1px;
  background-color: #716e6e; }

.opinionclientes h2 {
  color: #383838; }

.opinion {
  background-color: white;
  border: 1px solid #b9b6b6;
  color: #383838; }

.opinion2 {
  background-color: #f8f8f8;
  padding: 5px; }

.footer {
  background-color: #383838;
  padding: 20px 0 20px 0;
  bottom: 0px; }

.footer h5 {
  color: #fff; }

.footer h5 {
  margin-bottom: 20px; }

.footer p {
  color: #969696;
  font-size: 13px;
  line-height: 14px;
  text-align: left; }

/* .footer a {
	color: #fff;
}
.footer a:hover {
	color: #03a9f4;
}  */
.permitanosmanejar {
  height: 120px;
  color: white;
  background: url(../images/permitanosmanejar0.jpg);
  line-height: 37px; }

/* #contactomanejar{
    background-color: $marron;
    border: 1px solid $marron;
}
 */
.btn-primary #contactomanejar {
  background-color: #be7f11;
  border: 1px solid #be7f11; }

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 16px;
  line-height: 24px;
  color: #dddada; }

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5; }

.site-footer hr.small {
  margin: 20px 0; }

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px; }

.site-footer a {
  color: #bcb8b8; }

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none; }

.footer-links {
  padding-left: 0;
  list-style: none; }

.footer-links li {
  display: block; }

.footer-links a {
  color: #dddada; }

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
  color: #3366cc;
  text-decoration: none; }

.footer-links.inline li {
  display: inline-block; }

.site-footer .social-icons {
  text-align: right; }

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d; }

.copyright-text {
  margin: 0;
  text-align: right; }

#color-marron {
  color: #be7f11; }

#web-designer {
  color: #be7f11;
  font-style: italic; }

#web-designer:hover {
  color: #3366cc; }

@media (max-width: 991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px; } }
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0; }

  .site-footer .copyright-text, .site-footer .social-icons {
    text-align: center; } }
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.social-icons li {
  display: inline-block;
  margin-bottom: 4px; }

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px; }

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all 0.2s linear; }

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
  color: #fff;
  background-color: #29aafe; }

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px; }

.social-icons a.facebook:hover {
  background-color: #3b5998; }

.social-icons a.twitter:hover {
  background-color: #00aced; }

.social-icons a.linkedin:hover {
  background-color: #007bb6; }

.social-icons a.dribbble:hover {
  background-color: #ea4c89; }

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600; } }
.dama2 {
  top: 5px;
  left: 45px;
  /* position: relative; */
  width: 5em;
  height: 5em;
  border-radius: 50%;
  display: block;
  margin: auto; }

.contenedor {
  border: 1px solid red; }

hr {
  color: #f8f8f8 !important; }

.appwhatsapp {
  position: fixed;
  /* right: 20px; */
  bottom: 50px;
  width: 250px;
  z-index: 10; }

.appwhatsapp img {
  /* width: 100%; */
  height: auto; }

.energia {
  overflow: hidden;
  /*esta propiedad evita que la imagen ocupe mas espacio que su contenedor*/
  /*  width: 350px;
   height: 300px; */
  border: 5px solid #FFF;
  box-sizing: border-box;
  float: left; }

.energia img:hover {
  /*  overflow: hidden;  */
  transform: scale(1.2); }

.energia img {
  transition: all .2s ease;
  width: 100%; }

.material-icons {
  vertical-align: middle; }

.breveresenia .material-icons {
  vertical-align: top; }

/* Estilos para la galeria */
.galeria {
  background-color: #e9ecef; }

.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important; }

#image-gallery .modal-footer {
  display: block; }

.thumb {
  margin-top: 15px;
  margin-bottom: 15px; }

.img-thumbnail:hover {
  box-shadow: 0 0 7px gray; }

/* Fin de stilos para la galeria */
/* -----------------------------------------------*/
.imagen:hover {
  transition: all .5s ease-in-out;
  filter: opacity(0.8); }

/*# sourceMappingURL=main.css.map */
