//------------------------------
//  PATRON DE COLORES
//------------------------------  
$marron: #be7f11;
$azul  : #0000ff; 
$gris  : #716e6e;
$tamanio-fuente : 16px;
  
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: $tamanio-fuente;
    color: $gris;
}
/* #fila{
    border: 1px solid blue;
}

#columna{
    border: 1px solid rgb(255, 8, 0);
} */

#contacto-inicial> i{
        color: $marron;
        vertical-align: middle !important;
}
#contacto-inicial> i, p{
    display: inline;
}

.btn-primary{
    background-color: $marron;
    border: 1px solid $marron;
}
.btn-primary:hover{
    background-color: $gris;
    border: 1px solid $gris;
}



#menu-principal{
    background-color: $gris;
}

// Estilo para la posicion absoluta del logo de jaime y Asociados
.logo{
  top:35px; left:45px;
  position: absolute;
} 

.uno
{
        background-color: cyan;
        border: 1px solid cyan;
        width: 10px;
        height: 150px;
        
}

.dos
{
        background-color: rgb(187, 255, 0);
        border: 1px solid  rgb(187, 255, 0);
        width: 300px;
        height: 150px;
        top:50px; left:20px;
         position: absolute; 
}
.tres{
    width: 400px;
    height: 600px;
    border: 1px solid red;
}