//------------------------------
//  PATRON DE COLORES
//------------------------------  
$marron: #be7f11;
$azul  : #0000ff; 
$gris  : #716e6e;
$marronoscuro: #a96e08;
$tamanio-fuente : 16px;
$blanco : #ffffff;
$fondopantalla : #f8f8f8;
  
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: $tamanio-fuente;
    color: $gris;
    background-color: $fondopantalla;
}
/* #fila{
    border: 1px solid blue;
}

#columna{
    border: 1px solid rgb(255, 8, 0);
} */

#contacto-inicial> i{
        color: $marron;
        vertical-align: middle !important;
}
#contacto-inicial> i, p{
    display: inline;
}

.btn-primary{
    background-color: $marron;
    border: 1px solid $marron;
}
.btn-primary:hover{
    background-color: $marronoscuro;
    border: 3px solid $marron;
    
  
}

nav ul li a:hover{
    
    font-style: italic !important;
   }
/* .navbar.nav-item.nav-link.itemprincipal>a:hover{
    color: $marron;
}
.itemprincipal:hover{
    color : $marron;
} */
.btn-outline-success{
    border: 1px solid $marron;
    color: $blanco;
}

.btn-outline-success:hover{
    border: 1px solid $marron;
    background-color: $marron;
    border: 1px solid $marron;
}


#menu-principal{
    background-color: $gris;
}

// Estilo para la posicion absoluta del logo de jaime y Asociados
.logo{
  top:4px; left:45px;
  position: absolute;
} 

.uno
{
        background-color: cyan;
        border: 1px solid cyan;
        width: 10px;
        height: 150px;
        
}

// ESTILOS DEL CAROUSEL
.carousel img {
    width: 100%;
    height: 100%;
    }
    
.carousel-inner .carousel-item .carousel-caption h1{
    color: black;
    font-size: 3.4em;
    font-weight: bold;
}

.carousel-inner .carousel-item .carousel-caption p{
    color: black;
    font-size: 2em;
    font-weight: bold;
}
/* 
.tituloslider{
    color: white !important;
    font-size: 3.4em  !important;
    font-weight: bold  !important;
}

.textoslider{
    color:white  !important;
    font-size: 2em  !important;
    font-weight: bold  !important;
} */

